@tailwind base;
@tailwind components;
@tailwind utilities;

.collapse-open .collapse-title,
.collapse-open .collapse-content {
    @apply bg-white;
}

.collapse-open .collapse-title {
    @apply border-b border-base-200 border-solid;
}

.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
}
.embla__slide {
    position: relative;
    flex: 0 0 100%;
}

.card.image-full:before {
    @apply rounded-md;
}
