@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-slideshow-image/dist/styles.css';

.collapse-open .collapse-title,
.collapse-open .collapse-content {
    @apply bg-white;
}

.collapse-open .collapse-title {
    @apply border-b border-base-200 border-solid;
}

.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
}
.embla__slide {
    position: relative;
    flex: 0 0 100%;
}

.card.image-full:before {
    @apply rounded-md bg-black bg-opacity-90;
}

.btn.loading:before {
    margin-right: 0;
}

.btn.loading.btn-circle.btn-lg:before,
.btn.loading.btn-circle.btn-xl:before {
    @apply w-10 h-10;
    animation: spin 1.2s linear infinite;
}

/* This messes with the image zoom */
#productImages img {
    max-width: unset !important;
}

.input-group :last-child {
    @apply rounded-r-md;
}

.input-group :first-child {
    @apply rounded-l-md;
}

.divider.lightDivider {
    border: unset;
}

.lightDivider::before,
.lightDivider::after {
    @apply bg-base-200;
    @apply h-px;
}

.divider.whiteDivider {
    border: unset;
}

.whiteDivider::before,
.whiteDivider::after {
    @apply bg-base-100;
    @apply h-px;
}

.divider.darkDivider {
    border: unset;
}

.darkDivider::before,
.darkDivider::after {
    @apply bg-neutral;
    @apply h-px;
}

.react-slideshow-container .default-nav:first-of-type {
    margin-left: 20px;
}

.react-slideshow-container .default-nav:last-of-type {
    margin-right: 20px;
}

.input:focus,
.select:focus {
    outline-offset: -2px;
    outline: 2px solid #f6c467;
}

.accountMenuHeight {
    height: 21rem;
}

/* Quill Rich Text Overrides */
.ql-container {
    min-height: 15rem;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.ql-editor {
    height: 100%;
    flex: 1;
    overflow-y: auto;
    width: 100%;
}

/* React Date Picker */
.react-datepicker__navigation-icon--previous::before {
    right: calc(50% - 5px);
    top: calc(50% - 4px);
}

.react-datepicker__navigation-icon--next::before {
    left: calc(50% - 5px);
    top: calc(50% - 4px);
}

.react-datepicker__year-read-view--selected-year {
    display: inline;
    background-color: transparent;
    padding: 0.5rem;
}

.react-datepicker__year-read-view--down-arrow {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    display: inline;
    top: 4px;
}

.react-datepicker__year-option--selected {
    background-color: transparent;
}

.react-datepicker__year-option--selected {
    padding-left: 0;
    padding-right: 0;
}

/* Content */
.description ul {
    list-style: disc;
}

.description ol {
    list-style: decimal;
}

.description ul,
.description ol {
    padding-left: 30px;
    margin: 8px 0px;
}
